body{
    background-color: #deceff;
    
}

.col-sm-6 {
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    transition: transform .3s;
   padding-bottom: 5px;
   padding-top: 5px;
   margin-bottom: 3%;
   margin-right:35px ;
   margin-left: 35px;
   
   
}
.col-sm-6:hover{
   transform: translateY(3px);
    box-shadow: 2px 2px 26px 0px rgba(0,0, 0, 0.3);
}
.col-sm-6  img{
    
    clip-path: circle();
}



.lower-container .btn{
	padding: 10px 15px;
	background: #deceff;
	border: none;
	color: #002f6d;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn:hover{
	background: #002f6d;
	color: white;
	border: 2px solid #002f6d;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 50px;
    font-weight: 500;
}
.dynamic-txts{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    
}
 .dynamic-txts li{
    list-style: none;
    color: #002f6d;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 60s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
 }
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height:auto;
    width: auto;
    background: #fff;
    border-left: 2px solid #fff;
    animation: typing 5s steps(15) infinite;
}
@keyframes typing {
   100%{
       left: 100%;
       margin: 0 -35px 0 35px;
   }
}